<%- include('partials/header') %>

<ul class="list-group">

    <% for (user of allUser) { %>
        <li class="list-group-item" style="display: flex;justify-content: space-between;align-items: center;">
            <div>
                <%= user.firstname %>
                <%= user.lastname %>
                <%= user.email %>
                <% if (user.role === 'admin') { %>
                    <span class="badge badge-warning">Administrateur</span>
                <% } %>
            </div>
            <div>
                <% if (user.role !== 'admin') { %>
                    <a
                        href="/admin/user/make_admin/<%= user.id %>"
                        class="btn btn-warning"
                        role="button"
                    >
                        Rendre administrateur
                    </a>
                <% } %>
                <a
                    href="/admin/user/delete/<%= user.id %>"
                    class="btn btn-danger"
                    role="button"
                >
                    Supprimer l'utilisateur
                </a>
            </div>
        </li>
    <% } %>
  </ul>

<%- include('partials/footer') %>